<h3>Sent Messages</h3>
<table class="table table-hover">
	<thead>
		<th> # </th>
		<th> Reciever Name </th>
		<th> Subject </th>
	</thead>
	<tbody>
	  <% @messages.each do |message| %>
	  	<tr>
	  		<td> 1 </td>
	      <td><a href="/users/<%= message.reciever_id %>"><%= User.find(message.reciever_id).name %></a></td>
	      <td><a href="/message/<%= message.id %>"><%= message.subject %></a></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
